

@media (min-width: 701px) {
    .NavbarMob{
        display: none;
    }
    .NavbarTwo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #CFE1BB;
    }
    .containersNavTwo{
        width: 40%;
    }
    .containersNavTwoList{
        width: 60%;
    }
    .titleNavTwo{
        display: flex;
        justify-content: start;
        align-items: start;
        font-family: "Candal", sans-serif;
        font-size: 54px;
        color: #374C08;
        margin: 0;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 10%;
    }
    .listNavTwo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
        gap: 5%;
        margin-right: 5%;
    }
    .textListNavTwo{
        font-family: "Kaisei Tokumin", serif;
        font-size: 24px;
        color: #283A00;
        text-decoration: none;
    }
    .links{
        text-decoration: none;
    }
}