

@media (max-width: 700px) {
    .Calculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .error{
        font-family: "Candal", sans-serif;
        font-size: 14px;
        color: #a51900;
        margin: auto;
        padding-top: 2%;
        width: 90%;
    }
    .tituloCalculadora{
        font-family: "Candal", sans-serif;
        font-size: 24px;
        color: #374C08;
        margin: 0;
        padding-top: 10%;
        padding-bottom: 3%;
        text-align: center;
        width: 90%;
    }
    .formCalculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .textInputsCalculadora{
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        color: #141D00;
        margin-top: 5px;
        padding-bottom: 2px;
        margin-bottom: 5px;
        width: 90%;
        text-align: start;
    }
    .inputCalculadora{
        width: 90%;
        height: 35px;
        border: 1px solid #283A00;
        border-radius: 5px;
        font-family: "Kaisei Tokumin", serif;
        font-size: 15px;
        font-weight: 600;
        color: #141D00;
    }
    .selectCalculadora{
        width: 90%;
        height: 40px;
        border: 1px solid #283A00;
        border-radius: 5px;
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        font-weight: 600;
        color: #141D00;
    }
    .opSelectCalculadora{
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        color: #141D00;
        height: 20px;
    }
    .buttonCalculadora{
        background-color: #374C08;
        height: 38px;
        width: 150px;
        border: none;
        border-radius: 5px;
        color: #EDFFD2;
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        padding: 0;
        margin-bottom: 5%;
        margin-top: 5%; 
    }
    .containerInfoCalculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textInfoCalculadora{
        font-family: "Candal", sans-serif;
        font-size: 22px;
        color: #374C08;
        margin: 0;
        padding-top: 5%;
        text-align: center;
        width: 90%;
    }
    .infoIMCcalculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 90%;
    }
    .containerInfoCalculadoraRow{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        width: 100%;
        padding-top: 3%;
        padding-left: 2%;
    }
    .circulo{
        content: "";
        border-radius: 100%;
        width: 10px;
        height: 10px;
        margin-top: 2%;
    }
    .amarillo{
        background-color: #eaff00;
    }
    .amarilloVerde{
        background-color: #87db00;
    }
    .naranja{
        background-color: #df831a;
    }
    .rojo{
        background-color: #B94300;
    }
    .textInfoCirCalculadora{
        color: #141D00;
        font-family: "Kaisei Tokumin", serif;
        font-size: 16px;
        margin: 0;
        padding-left: 2%;
        width: 95%;
    }
    .containerContResCalculo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .containerResCalculo{
        width: 90%;
        background-color: #EDFFD3;
        border-radius: 5px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containerInfoCalculadoraRowRes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-top: 5%;
    }
    .textInfoCirCalculadoraRes{
        color: #141D00;
        font-family: "Kaisei Tokumin", serif;
        font-size: 16px;
        margin: 0;
        padding-left: 2%;
    }
    .textInfoCalculadoraRes{
        color: #141D00;
        font-family: "Kaisei Tokumin", serif;
        font-size: 15px;
        margin: 0;
        padding-left: 2%;
        width: 90%;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 5%;
    }
}