
@media (min-width: 701px) {
    .Calculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tituloCalculadora{
        font-family: "Candal", sans-serif;
        font-size: 52px;
        color: #374C08;
        margin: 0;
        padding-top: 5%;
        padding-bottom: 3%;
    }
    .formCalculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .textInputsCalculadora{
        font-family: "Kaisei Tokumin", serif;
        font-size: 24px;
        color: #141D00;
        margin-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 0;
        width: 60%;
        text-align: start;
    }
    .inputCalculadora{
        width: 60%;
        height: 50px;
        border: 1px solid #283A00;
        border-radius: 5px;
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        font-weight: 600;
        color: #141D00;
    }
    .selectCalculadora{
        width: 60%;
        height: 55px;
        border: 1px solid #283A00;
        border-radius: 5px;
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        font-weight: 600;
        color: #141D00;
    }
    .opSelectCalculadora{
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        color: #141D00;
        height: 20px;
    }
    .buttonCalculadora{
        background-color: #374C08;
        height: 50px;
        width: 231px;
        border: none;
        border-radius: 5px;
        color: #EDFFD2;
        font-family: "Kaisei Tokumin", serif;
        font-size: 20px;
        padding: 0;
        margin-bottom: 5%;
        margin-top: 2%;    
    }
    .containerInfoCalculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textInfoCalculadora{
        font-family: "Candal", sans-serif;
        font-size: 48px;
        color: #374C08;
        margin: 0;
        padding-top: 5%;
    }
    .error{
        font-family: "Candal", sans-serif;
        font-size: 18px;
        color: #a51900;
        margin: 0;
        padding-top: 1%;
        margin: 0;
        width: 60%;
    }
    .infoIMCcalculadora{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 70%;
    }
    .containerInfoCalculadoraRow{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: 100%;
        padding-top: 3%;
        padding-left: 5%;
    }
    .circulo{
        content: "";
        border-radius: 100%;
        width: 15px;
        height: 15px;
    }
    .amarillo{
        background-color: #eaff00;
    }
    .amarilloVerde{
        background-color: #87db00;
    }
    .naranja{
        background-color: #df831a;
    }
    .rojo{
        background-color: #B94300;
    }
    .textInfoCirCalculadora{
        color: #141D00;
        font-family: "Kaisei Tokumin", serif;
        font-size: 24px;
        margin: 0;
        padding-left: 2%;
        width: 90%;
    }
    .containerContResCalculo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .containerResCalculo{
        width: 50%;
        background-color: #EDFFD3;
        border-radius: 5px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containerInfoCalculadoraRowRes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        padding-top: 5%;
    }
    .textInfoCirCalculadoraRes{
        color: #141D00;
        font-family: "Kaisei Tokumin", serif;
        font-size: 24px;
        margin: 0;
        padding-left: 2%;
    }
    .textInfoCalculadoraRes{
        color: #141D00;
        font-family: "Kaisei Tokumin", serif;
        font-size: 20px;
        margin: 0;
        padding-left: 2%;
        width: 90%;
        text-align: center;
        padding-top: 1%;
        padding-bottom: 5%;
    }
}