

@media (max-width: 700px) {
    .Articulo{
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto; 
    }
    .containerUnoArt{
        width: 40%;
        align-self: flex-start;
        padding-left: 3%;
        margin-top: 3%;
    }
    .iconCompArt{
        width: 28px;
        height: 28px;
    }
    .lineArt{
        content: "";
        background-color: #374C08;
        height: 1px;
        width: 100%;
        margin-top: 10%;
        margin-bottom: 0;
    }
    .compartirTextArt{
        display: none; 
    }
    .compartirTextArtMob{
        font-family: "Kaisei Tokumin", serif;
        font-size: 15px;
        color: #141D00; 
        margin-top: 3%;
        margin-bottom: 3%;  
    }
    .compartirContIconsArt{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2%;
        margin-top: 2%;
        width: 80%;
    }
    .containerDosArt{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-left: 5%;
    }
    .titleContArt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    .containerTitleArt{
        background-color: #CFE1BB;
        height: 190px;
        border-radius: 5px 0 0 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .titleArt{
        font-family: "Candal", sans-serif;
        font-size: 24px;
        color: #374C08;
        margin: 0;
        width: 90%;
        text-align: center;
    }
    .imgArt{
        object-fit: cover;
        width: 90%;
        height: 290px;
        border-radius: 0 5px 5px 0;
    }
    .textContArt{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5%;
    }
    .subtitleArt{
        font-family: "Candal", sans-serif;
        font-size: 22px;
        color: #374C08;
        margin: 0;
    }
    .textArt{
        font-family: "Kaisei Tokumin", serif;
        font-size: 16px;
        color: #141D00;
        margin-top: 5px;
        padding-bottom: 10px;
        width: 100%;
    }
}