@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

@media (max-width: 700px) {
    .Navbar{
        display: none;
    }
    .NavbarMob{
        background-color: #D3FF94;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .titleNavMob{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Candal", sans-serif;
        font-size: 22px;
        color: #374C08;
        margin: 0;
        padding-bottom: 3%;
        padding-top: 2%;
        z-index: 999;
    }
    .manuOpenImg{
        padding: 3%;
        z-index: 999;
    }
    .containersNavMob{
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: 0;
        background-color: #D3FF94;
        z-index: 2;
    }
    .listNav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-decoration: none;
        list-style: none;
        gap: 5%;
        padding-top: 25%;
        padding-left: 10%;
    }
    .textListNav{
        font-family: "Kaisei Tokumin", serif;
        font-size: 16px;
        color: #283A00;
    }
}