@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

@media (min-width: 701px) {
    .NavbarMob{
        display: none;
    }
    .Navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containersNav{
        width: 100%;
    }
    .titleNav{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Candal", sans-serif;
        font-size: 64px;
        color: #374C08;
        margin: 0;
        padding-top: 3%;
    }
    .listNav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
        gap: 5%;
    }
    .textListNav{
        font-family: "Kaisei Tokumin", serif;
        font-size: 24px;
        color: #283A00;
    }
}