

@media (min-width: 701px) {
    .Footer{
        background-color: #374C08;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7%;
    }
    .footerContainerUno{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;
        width: 100%;
    }
    .tituloFooter{
        display: flex;
        justify-content: start;
        align-items: start;
        font-family: "Candal", sans-serif;
        font-size: 48px;
        color: #CFE1BB;
        margin: 0;
        padding-top: 4%;
        padding-left: 7%;
    }
    .listFooter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
        gap: 7%;
        width: 60%;
    }
    .textListFooter{
        font-family: "Kaisei Tokumin", serif;
        font-size: 24px;
        color: #CFE1BB;
        padding-top: 5%;
    }
    .textListFooterDate{
        font-family: "Kaisei Tokumin", serif;
        font-size: 24px;
        color: #CFE1BB;
        padding-top: 5%;
        padding-bottom: 15%;
    }
}