@media (min-width: 701px) {
    .categorias{
        width: 100%;
    }
    .containerUnoCat{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40%;
        margin-top: 5%;
    }
    .titleCat{
        font-family: "Candal", sans-serif;
        font-size: 48px;
        color: #374C08;
        margin: 0;
        padding-top: 3%;
        cursor: pointer;
    }
    .contSelectCat{
        background-color: #CFE1BB;
        width: 250px;
        height: 60px;
        border: none;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .optionCat{
        font-family: "Candal", sans-serif;
        font-size: 24px;
        color: #374C08;
        margin: 0;
    }
    .optionCatTwo{
        font-family: "Candal", sans-serif;
        font-size: 20px;
        color: #374C08;
        margin: 0;
        padding-left: 10%;
        padding-top: 5%;
        cursor: pointer;
    }
    .contOpCat{
        background-color: #CFE1BB;
        width: 250px;
        height: 200px;
        text-decoration: none;
        list-style: none;
        position: absolute;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5%;
        padding: 0;
        border-radius: 5px;
        margin-top: 5px;
    }
    .line{
        content: "";
        width: 210px;
        height: 1px;
        background-color: #364c0883;
        margin: 0 auto;
    }
    .containerDosCat{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2%;
        width: 80%;
        margin: 3% auto 0 auto;
    }
    .contInfoCat{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
    }
    .imgCatInfo{
        width: 396px;
        height: 313px;
        margin-bottom: 0;
        object-fit: cover;
    }
    .contTextInfoCat{
        background-color: white;
        margin-top: 0;
        width: 396px;
    }
    .contSubCat{
        width: 155px;
        height: 32px;
        background-color: #374C08;
        margin-top: 5%;
        margin-left: 3%;
    }
    .textSubCat{
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        color: #EDFFD2;
        padding-left: 5%;
        margin-top: 0;
    }
    .textInfoCat{
        font-family: "Kaisei Tokumin", serif;
        font-size: 20px;
        color: #141D00;
        width: 80%;
        margin-top: 5px;
        padding-left: 3%;
        padding-bottom: 5%;
    }
}