@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

@media (max-width: 700px) {
    .containerGymHome{
        display: none;
    }
    .gymHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #D7F6AB;
        margin-top: 7%;
    }
    .titleGymHome{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Candal", sans-serif;
        font-size: 32px;
        color: #374C08;
        margin: 0;
        padding-top: 5%;
    }
    .textGymHome{
        font-family: "Kaisei Tokumin", serif;
        font-size: 16px;
        color: #141D00;
        width: 80%;
        text-align: center;
        padding-bottom: 2%;
    }
    .containerGymHomeMob{
        width: 80%;
    }
    .imgGymHomeMob{
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 0;
    }
    .catContGymHomeMob{
        width: 140px;
        height: 28px;
        background-color: #374C08;
    }
    .catTextGymHomeMob{
        font-family: "Kaisei Tokumin", serif;
        font-size: 15px;
        color: #EDFFD2;
        padding-left: 5%;
        text-align: start;
        margin-top: 5%;
    }
    .textContGymHomeMob{
        font-family: "Kaisei Tokumin", serif;
        font-size: 16px;
        color: #141D00;
        width: 80%;
        margin-top: 5px;
        text-align: start;
        margin-bottom: 15%;
    }
    .botonGymHome{
        background-color: #374C08;
        height: 38px;
        width: 150px;
        border: none;
        border-radius: 5px;
        color: #EDFFD2;
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        padding: 0;
        margin-bottom: 5%;
        margin-top: 2%;
    }
}