

@media (min-width: 701px) {
    .saludHome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
    }
    .titleSaludHome{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Candal", sans-serif;
        font-size: 48px;
        color: #374C08;
        margin: 0;
        padding-top: 3%;
    }
    .containerSaludHome{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 2%;
        margin-top: 2%;
    }
    .imgSaludHome{
        width: 290px;
        height: 395px;
        object-fit: cover;
    }
    .imgSaludHomeTwo{
        width: 647px;
        height: 395px;
        object-fit: cover;
    }
    .catContSaludHome{
        width: 155px;
        height: 32px;
        background-color: #374C08;
        margin-top: 5px;
    }
    .catTextContSaludHome{
        font-family: "Kaisei Tokumin", serif;
        font-size: 18px;
        color: #EDFFD2;
        padding-left: 5%;
        margin-top: 5px;
    }
    .textSaludHome{
        font-family: "Kaisei Tokumin", serif;
        font-size: 20px;
        color: #141D00;
        width: 80%;
        margin-top: 5px;
    }
    .botonSaludHome{
        background-color: #374C08;
        height: 50px;
        width: 231px;
        border: none;
        border-radius: 5px;
        color: #EDFFD2;
        font-family: "Kaisei Tokumin", serif;
        font-size: 20px;
        padding: 0;
        margin-bottom: 10%;
        margin-top: 2%;
        cursor: pointer;
    }
    .contTwoEspacio{
        width: 20%;
    }
    .contTwo{
        width: 20%;
    }
}